body {
  margin: 0;
}

.splash {
  text-align: center;
  margin: 10% 0 0 0;
  box-sizing: border-box;
}

.splash .message {
  font-size: 72px;
  line-height: 72px;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
  text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.splash .fa-spinner {
  text-align: center;
  display: inline-block;
  font-size: 72px;
  margin-top: 50px;
}

.page-host {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.small-text {
  font-size: 12px;
}

input.fill {
  width: 100%;
}

input.small-width {
  width: 50px;
}

input.medium-width {
  width: 100px;
}

 .border {
  border: 1px solid black;
} 

.top-cell-border {
  border-top: 1px black solid;
  border-right: 1px black solid;
  border-left: 1px black solid;
  padding-top: 2px;
  padding-right: 2px;
  padding-left: 2px;
  margin-right: 2px;
}

.regular-cell-border {
  border-right: 1px black solid;
  border-left: 1px black solid;
  padding-right: 2px;
  padding-left: 2px;
  margin-right: 2px;
}

.bottom-cell-border {
  border-bottom: 1px black solid;
  border-right: 1px black solid;
  border-left: 1px black solid;
  padding-bottom: 2px;
  padding-right: 2px;
  padding-left: 2px;
  margin-right: 2px;
}

.small-margin {
  margin: 6px;
}

.small-border-margin {
  margin: 5px;
}

.modified-padding {
  padding-top: 6px;
}

.icon {
  width: 50px;
  height: 50px;
}

.center-text {
  text-align: center;
}

/* OVERIDE */
.table {
  margin-bottom: 0px;
}

ux-dialog-overlay {
  background-color: black;
}

.ux-dialog-open ux-dialog-overlay.active {
  opacity: 0.5;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  vertical-align: middle;
  text-align: center;
}